@use "@/styles/color";

.modal {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(color.$text-muted, 0.1);
  z-index: 99999;
  display: flex;
  // align-items: center;
  &__content {
    margin: 2rem auto;
    padding: 2rem;
    background-color: color.$surface;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 28rem;

    width: 50%;
    height: min-content;
    // @media (max-width: 42rem) {
    //   width: 80%;
    // }
  }
  &__image {
    object-fit: cover;
    max-width: 16rem;
    border-radius: 1rem;
    width: 100%;
    @media (max-width: 42rem) {
      max-width: 12rem;
    }
  }
  &__name {
    font-size: 2rem;
    @media (max-width: 42rem) {
      font-size: 1.5rem;
    }
  }
  &__category {
    font-size: 1rem;
    color: color.$secondary;
    margin-bottom: 2rem;
    @media (max-width: 42rem) {
      font-size: 0.75rem;
    }
  }
  &__description {
    font-size: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    overflow-wrap: break-word;
  }
  &__href {
    font-size: 1rem;
    color: color.$info;
    @media (max-width: 42rem) {
      font-size: 0.75rem;
    }
  }
}
.--scroll-hidden {
  height: 100%;
  overflow: hidden;
}
