@use "@/styles/color";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(color.$text-muted, 0.1);
  z-index: 99999;
  display: flex;
  align-items: center;
  &__content {
    margin: 0 auto;
    padding: 2rem;
    background-color: color.$surface;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 36rem;
    width: 50%;
  }
  &__image {
    object-fit: cover;
    max-width: 16rem;
    border-radius: 1rem;
    width: 100%;
    @media (max-width: 42rem) {
      max-width: 12rem;
    }
  }
  &__name {
    font-size: 3rem;
    @media (max-width: 42rem) {
      font-size: 2rem;
    }
  }
  &__category {
    font-size: 1.25rem;
    color: color.$secondary;
    margin-bottom: 2rem;
    @media (max-width: 42rem) {
      font-size: 1rem;
    }
  }
  &__description {
    font-size: 1rem;
    margin-bottom: 2rem;
    @media (max-width: 42rem) {
      font-size: 1rem;
    }
  }
  &__href {
    font-size: 1.25rem;
    color: color.$info;
    @media (max-width: 42rem) {
      font-size: 1rem;
    }
  }
}
