@use "@/styles/color";
@use "@/styles/fonts";

* {
  font-weight: 500;
  color: color.$text-primary;
  font-family: fonts.$Roboto;
  margin: 0;
}

html,
body {
  max-width: 69rem;
  // outline: 2px black solid;
  margin: 0 auto;
  background-color: color.$background;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
